$color-1: #262c27;
$color-2: #b9c400;
$color-3: #0093a1;
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700&display=swap);
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  // font-family: 'Comfortaa', cursive;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: $color-1;
}
a {
  text-decoration: none; //убирает подчеркивание
  color: inherit; //цвет наследуется у родителя
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  max-width: 1230px;
  padding: 0px 15px; //верх/низ 0, по бокам 15px
  margin: 0 auto; //выравнивание контейнера по центру
}
.logo path {
  transition: fill 0.3s ease;
  &:hover {
    fill: $color-3;
  }
}
.header {
  background-image: url(../img/bg-image.jpg);
  background-size: cover; //покрытие всей площади за контейнер
  background-repeat: no-repeat; //без повторений
  min-height: 100vh; //занимание всей высоты
  background-position: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/header-decore.svg);
    bottom: 0;
    left: 0;
    right: 0;
    height: 456px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(35%);
    z-index: 2;
  }
  &::after {
    content: "";
    position: absolute;
    background-image: url(../img/header-decore.svg);
    bottom: 0;
    left: 0;
    right: 0;
    height: 456px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(75%) rotate(180deg);
    z-index: 3;
  }
  &__top {
    display: flex;
    align-items: center;
    padding: 57px 0;
    gap: 100px;
    justify-content: flex-end; //сдвиг блока в правую часть
    font-family: "Comfortaa", cursive;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
  }
  &__btn {
    text-transform: uppercase;
    color: #fff;
    padding: 12px 71px;
    background-color: $color-1;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    &:hover {
      background-color: $color-3;
      transition: 0.6s ease; //плавное смена цвета при наведении
    }
  }

  &__content {
    min-height: calc(100vh - 161px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }

  &__content-box {
    max-width: 550px;
    text-align: center;
    margin-right: 30px;
    color: #fff;
    font-family: "Comfortaa", cursive;
    font-weight: 700; //насыщенность шрифта
  }

  &__title {
    text-transform: uppercase; //все буквы заглавные
    margin-bottom: 20px; //отступ вниз
    font-size: 64px;
    line-height: 71px; //Высота строки
  }

  &__text {
    font-size: 24px; //размер шрифта
    line-height: 27px; //высота строки
    margin-bottom: 20px; //отступ вниз от строки
  }

  &__decor-text {
    color: #0093a1;
    opacity: 0.8; //прозрачность
    position: absolute;
    bottom: 25px;
  }
  &__decor-text-1 {
    z-index: 1;
    right: 145px;
    bottom: 150px;
  }
  &__decor-text-2 {
    z-index: 4;
    left: 265px;
    bottom: 0;
  }
  &__decor-text-1,
  &__decor-text-2 {
    font-family: "Comfortaa", cursive;
    font-size: 130px;
    line-height: 145px;
    opacity: 0.3;
  }
  &__decor-text-3 {
    font-style: italic;
    max-width: 360px;
    right: 145px;
    z-index: 4;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
}

@import "main";
